.hero {
  
  height: 400px;
  position: relative;
  display: flex;

  color: white; 
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); 

}

.hero p img {
float: right;
width: 121px;
margin: .5rem;
}

.hero h1 {
  font-size: 3rem;
  text-align: center
  color: #fff;
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  
}

.hero p {
  position: absolute;
  font-size: 1.1rem;
  width: 80%;
  background-color: rgb(167, 211, 226); 
    padding: 10px; 
    border-radius: 5px; 
    top: 200px;
    left: 0;
    right: 0;
    opacity: .8;
}

header {
  background-color: var(--primary-color);
  color: rgb(156, 25, 25);
  display: grid;
  grid-auto-columns: 280px 1fr;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}                            

nav a {
  color: rgb(131, 20, 20);
  text-decoration: none;
  padding: 15px;
  font-size: 1.5rem;
  flex: 1 1 100%;
  display: block;
  text-align: center;
  font-weight: 700;
}

section {
  padding: 20px;
}

section img {
  width: 100%; 
  margin-bottom: 20px; 
  display: block; /
}

section {
	width: 75vw;
	margin: 1rem auto;
	background-color: #eee;
	padding: 1rem;
	border: 1px solid rgb(0 0 0 / .1);
}

h1, h2, h3, h4, h5 { 
  font-family:"Oswald", serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

section {
	width: 75vw;
	margin: 1rem auto;
	background-color: #eee;
	padding: 1rem;
	border: 1px solid rgb(0 0 0 / .1);
}

p {
	text-align: justify;
}

.col1 img {
	float: right;
	margin: 0 0 15px 15px;
	border: 1px solid rgba(0 0 0 / .3);
	box-shadow: 0 0 30px #777;
}

footer {
	border-top: 1px solid #555;
	padding-top: 5px;
	
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

aside {
  position: relative; 
  width: 800px;
  background-color: #f4f4f4;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

aside h3 {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 1.5em;
  color: darkblue;
}
