main {
    width: 80%;
    margin: 0 auto;
}
aside {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
    color: #333;
}
nav {
    background-color: darkblue;
    padding: 10px;
  }
  nav a {
    color: white;
    display: block;
    padding: 20px;
  }
  h1 {
    color: darkblue;
  }

  main img {
    width: 150px;
    height: auto;
}
  img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
  }
  footer {
    margin-top: 20px;
    border-top: 2px solid #ccc;
    text-align: center;
}
  p {
    padding: 0px;
  }
  
  aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 20px;
    border-top: 2px solid #ccc;
    text-align: center;
}
